In [0]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

In [0]:
data = pd.read_csv('titanic.csv')

In [0]:
data.shape

(891, 12)

In [0]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [0]:
cols_to_drop = ['PassengerId','Name','Ticket','Cabin','Embarked']
data = data.drop(cols_to_drop, axis=1)


print(data.columns)
data.head()

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [0]:
def datatransform(sex):
    if sex.lower().startswith('m'):
        return 0
    elif sex.lower().startswith('f'):
        return 1
    else:
        return sex
data['Sex']=data['Sex'].apply(datatransform)`

In [0]:
print(data.head())
data=data.dropna()
data=data.reset_index(drop=True)
data.describe()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    0  22.0      1      0   7.2500
1         1       1    1  38.0      1      0  71.2833
2         1       3    1  26.0      0      0   7.9250
3         1       1    1  35.0      1      0  53.1000
4         0       3    0  35.0      0      0   8.0500

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
count,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000
mean,0.406162,2.236695,0.365546,29.699118,0.512605,0.431373,34.694514
std,0.491460,0.838250,0.481921,14.526497,0.929783,0.853289,52.918930
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,20.125000,0.000000,0.000000,8.050000
50%,0.000000,2.000000,0.000000,28.000000,0.000000,0.000000,15.741700
75%,1.000000,3.000000,1.000000,38.000000,1.000000,1.000000,33.375000
max,1.000000,3.000000,1.000000,80.000000,5.000000,6.000000,512.329200

In [0]:
from keras.layers import Dense,Activation,Dropout
from keras.models import Sequential
from keras.utils import  np_utils

In [0]:
data = data.values
split = int(0.80*data.shape[0])

X_train = data[:split,1:]
X_test = data[split:, 1:]

Y_train = data[:split, 0]
Y_test = data[split:, 0]

print(X_train.shape)
print(X_test.shape)

print(Y_train.shape)
print(Y_test.shape)

(571, 6)
(143, 6)
(571,)
(143,)

In [0]:
model=Sequential()
model.add(Dense(20, input_shape=(6,)))
model.add(Activation('linear'))

model.add(Dense(20))
model.add(Activation('linear'))

model.add(Dense(20))
model.add(Activation('linear'))

model.add(Dropout(0.1))
model.add(Dense(1))
model.add(Activation('sigmoid'))
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 20)                140
_________________________________________________________________
activation_9 (Activation)    (None, 20)                0
_________________________________________________________________
dense_10 (Dense)             (None, 20)                420
_________________________________________________________________
activation_10 (Activation)   (None, 20)                0
_________________________________________________________________
dense_11 (Dense)             (None, 20)                420
_________________________________________________________________
activation_11 (Activation)   (None, 20)                0
_________________________________________________________________
dropout_3 (Dropout)          (None, 20)                0
_________________________________________________________________
dense_12 (Dense)             (None, 1)                 21
_________________________________________________________________
activation_12 (Activation)   (None, 1)                 0
=================================================================
Total params: 1,001
Trainable params: 1,001
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.compile(loss='binary_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])

In [0]:
model.fit(X_train,Y_train,
          validation_data=(X_test,Y_test),
          batch_size=32,
          epochs=12,
          verbose=2)

Train on 571 samples, validate on 143 samples
Epoch 1/12
 - 0s - loss: 0.5096 - acc: 0.7776 - val_loss: 0.4372 - val_acc: 0.8252
Epoch 2/12
 - 0s - loss: 0.5042 - acc: 0.7863 - val_loss: 0.4260 - val_acc: 0.7902
Epoch 3/12
 - 0s - loss: 0.5026 - acc: 0.7741 - val_loss: 0.4713 - val_acc: 0.8042
Epoch 4/12
 - 0s - loss: 0.5027 - acc: 0.7846 - val_loss: 0.4522 - val_acc: 0.7972
Epoch 5/12
 - 0s - loss: 0.4896 - acc: 0.7846 - val_loss: 0.4227 - val_acc: 0.7902
Epoch 6/12
 - 0s - loss: 0.4903 - acc: 0.7916 - val_loss: 0.4313 - val_acc: 0.8182
Epoch 7/12
 - 0s - loss: 0.4775 - acc: 0.7846 - val_loss: 0.4635 - val_acc: 0.8182
Epoch 8/12
 - 0s - loss: 0.4824 - acc: 0.7881 - val_loss: 0.4418 - val_acc: 0.8042
Epoch 9/12
 - 0s - loss: 0.4984 - acc: 0.7758 - val_loss: 0.4548 - val_acc: 0.8182
Epoch 10/12
 - 0s - loss: 0.4771 - acc: 0.7881 - val_loss: 0.4234 - val_acc: 0.8182
Epoch 11/12
 - 0s - loss: 0.5060 - acc: 0.7601 - val_loss: 0.4147 - val_acc: 0.8252
Epoch 12/12
 - 0s - loss: 0.4931 - acc: 0.7741 - val_loss: 0.4402 - val_acc: 0.8182